absl-py
attrs
blinker
cffi
click
colorama
contourpy
cvzone
cycler
Flask
flatbuffers
fonttools
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
mediapipe
numpy
opencv-contrib-python
opencv-python
packaging
Pillow
protobuf
pycparser
pyparsing
python-dateutil
six
sounddevice
Werkzeug
